html,
body {
	scroll-behavior: smooth;
	padding: 0;
	max-height: 100vh;
	text-rendering: optimizeLegibility;
	margin: 0;
	background-color: var(--color-background);
	font-size: var(--body-medium-font-size);
	font-family: var(--body-medium-font-family);
	font-weight: var(--body-medium-font-weight);
	color: var(--color-on-background);
}

::selection {
	background-color: var(--color-primary);
	color: var(--color-on-primary);
}

p,
body,
ul,
ol,
dl {
	margin: 0;
}

article,
aside,
audio,
footer,
header,
nav,
section,
video {
	display: block;
}

* {
	box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5 {
	font-family: var(--font-heading);
	color: var(--color-on-background);
	margin: 0;
}

a {
	color: inherit;
}

table {
	border-collapse: collapse;
}

img {
	border: none;
	max-width: 100%;
}

input[type='search'] {
	appearance: textfield;
}

input[type='submit'] {
	appearance: none;
}

input:required:after {
	color: #f00;
	content: ' *';
}

html {
	overflow-y: scroll;
	-webkit-overflow-scrolling: touch;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
	-webkit-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%;
}

.emphasis-tertiary {
	color: var(--color-tertiary);
}
.emphasis-primary {
	color: var(--color-primary);
}

body.prevent-scroll {
	overflow: hidden;
}
