html,
body {
	scroll-behavior: smooth;
	padding: 0;
	min-height: 100vh;
	margin: 0;
	display: flex;
	flex-direction: column;
	font-size: var(--body-medium-font-size);
	font-family: var(--body-medium-font-family);
	font-weight: var(--body-medium-font-weight);
	background-color: var(--color-background);
	color: var(--color-on-background);
}

* {
	box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5 {
	font-family: var(--font-heading);
	color: var(--color-on-background);
}

a {
	text-decoration: none;
}
