.content {
	display: flex;
	flex-direction: column;
	.hero-header {
		gap: 10px;

		.buttons {
			display: flex;
			gap: 10px;
			flex-wrap: wrap;
		}
	}
	.header {
		font-size: 2rem;
		font-weight: bold;
		margin: 0.5rem 0;
	}
	.subheader {
		color: #a1a1a1;

		a {
			color: white;
			text-decoration: underline;
		}
	}

	.label {
		border-radius: 99rem;
		width: max-content;
		background: var(--light);
		color: var(--dark);
		font-size: 1rem;
		font-weight: bold;
		padding: 0.25rem 0.75rem;
		user-select: none;
		height: min-content;
	}
	.icon {
		display: flex;
		justify-content: center;
		align-items: center;
		border-radius: 99rem;
		width: max-content;
		padding: 0.6rem;
		user-select: none;
		background: var(--light);
		color: var(--dark);
	}

	.cta {
		background: var(--darker);
	}

	.text {
		max-width: 700px;
		display: flex;
		flex-direction: column;
	}
	.image {
		user-select: none;
		img {
			image-rendering: optimizeSpeed;
			width: 100%;
		}
	}

	.features {
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
		gap: 20px;
		grid-auto-rows: min-content;
		grid-template-rows: auto;

		.feature {
			display: flex;
			flex-direction: column;
			text-align: left;
			background-color: var(--darker);
			border-radius: 2rem;
			padding: 1rem;
			gap: 10px;

			p,
			h3 {
				margin: 0;
			}
			.top {
				display: flex;
				justify-content: space-between;
			}
		}
	}
}

@media (max-width: 1100px) {
	.content {
		gap: 30px;
		.header {
			font-size: 1.5rem;
		}
		.image img {
			width: 100%;
			max-height: 150px;
		}
		.text {
			max-width: 100%;
			align-items: flex-start !important;
			text-align: left !important;
		}
	}
	.hero-header {
		text-align: center !important;
		.header {
			font-size: 2.5rem;
		}
		.hero-background img {
			max-height: 400px !important;
		}
	}
}
