article {
	margin: 0 auto;
	max-width: 900px;
	padding: 0 2.5rem;

	blockquote {
		margin: 0;
		padding: 0.5rem 1rem;
		background: rgba(255, 126, 49, 0.3);
		border-radius: 0.7rem;

		a {
			font-family: bold;
			text-decoration: underline;
			&:hover {
				transform: scale(1.1);
			}
		}
	}

	p.subtext {
		font-size: 0.9rem;
		margin: 0.3rem 0;
		opacity: 0.6;
		user-select: none;
	}

	img {
		border-radius: 0.7rem;
		max-width: 70%;
	}

	div.grid {
		display: flex;
		width: 100%;
		align-items: baseline;
		img {
			max-width: 100%;
			height: auto;
			display: block;
			user-select: none;
			-webkit-touch-callout: none;
		}
		// .column {
		// }
		gap: 1rem;
		margin-top: 1rem;
	}
}

@media screen and (max-width: 850px) {
	article {
		padding: 1rem;
		ul {
			margin-block-start: 0.5rem;
			padding-inline-start: 20px;
		}

		img {
			max-width: 100%;
		}

		div.grid {
			display: flex;
			flex-wrap: wrap;
			gap: 1rem;
			align-items: center;
			justify-content: center;
		}
	}
}
