main {
	padding: 3rem;
	// line-height: 1.5rem;
	align-self: center;
	max-width: fit-content;
}

@media screen and (max-width: 850px) {
	main {
		padding: 1rem;
	}
	ul {
		margin-block-start: 0.5rem;
		padding-inline-start: 20px;
	}
	a:hover {
		text-decoration: underline;
	}
}

blockquote {
	margin: 0;
	padding: 0.5rem 1rem;
	background: #d76177;
	border-radius: 0.7rem;

	a {
		text-decoration: underline;
		&:hover {
			color: #370718;
		}
	}
}
