:root {
	--color-primary: var(--color-primary-dark);
	--color-on-primary: var(--color-on-primary-dark);
	--color-primary-container: var(--color-primary-container-dark);
	--color-on-primary-container: var(--color-on-primary-container-dark);
	--color-secondary: var(--color-secondary-dark);
	--color-on-secondary: var(--color-on-secondary-dark);
	--color-secondary-container: var(--color-secondary-container-dark);
	--color-on-secondary-container: var(--color-on-secondary-container-dark);
	--color-tertiary: var(--color-tertiary-dark);
	--color-on-tertiary: var(--color-on-tertiary-dark);
	--color-tertiary-container: var(--color-tertiary-container-dark);
	--color-on-tertiary-container: var(--color-on-tertiary-container-dark);
	--color-error: var(--color-error-dark);
	--color-error-container: var(--color-error-container-dark);
	--color-on-error: var(--color-on-error-dark);
	--color-on-error-container: var(--color-on-error-container-dark);
	--color-background: var(--color-background-dark);
	--color-on-background: var(--color-on-background-dark);
	--color-surface: var(--color-surface-dark);
	--color-on-surface: var(--color-on-surface-dark);
	--color-surface-variant: var(--color-surface-variant-dark);
	--color-on-surface-variant: var(--color-on-surface-variant-dark);
	--color-outline: var(--color-outline-dark);
	--color-inverse-on-surface: var(--color-inverse-on-surface-dark);
	--color-inverse-surface: var(--color-inverse-surface-dark);
	--color-inverse-primary: var(--color-inverse-primary-dark);
	--color-shadow: var(--color-shadow-dark);
	--color-surface-tint: var(--color-surface-tint-dark);
	--color-surface-tint-color: var(--color-surface-tint-color-dark);
}
