:root {
	--color-primary: var(--color-primary-light);
	--color-on-primary: var(--color-on-primary-light);
	--color-primary-container: var(--color-primary-container-light);
	--color-on-primary-container: var(--color-on-primary-container-light);
	--color-secondary: var(--color-secondary-light);
	--color-on-secondary: var(--color-on-secondary-light);
	--color-secondary-container: var(--color-secondary-container-light);
	--color-on-secondary-container: var(--color-on-secondary-container-light);
	--color-tertiary: var(--color-tertiary-light);
	--color-on-tertiary: var(--color-on-tertiary-light);
	--color-tertiary-container: var(--color-tertiary-container-light);
	--color-on-tertiary-container: var(--color-on-tertiary-container-light);
	--color-error: var(--color-error-light);
	--color-error-container: var(--color-error-container-light);
	--color-on-error: var(--color-on-error-light);
	--color-on-error-container: var(--color-on-error-container-light);
	--color-background: var(--color-background-light);
	--color-on-background: var(--color-on-background-light);
	--color-surface: var(--color-surface-light);
	--color-on-surface: var(--color-on-surface-light);
	--color-surface-variant: var(--color-surface-variant-light);
	--color-on-surface-variant: var(--color-on-surface-variant-light);
	--color-outline: var(--color-outline-light);
	--color-inverse-on-surface: var(--color-inverse-on-surface-light);
	--color-inverse-surface: var(--color-inverse-surface-light);
	--color-inverse-primary: var(--color-inverse-primary-light);
	--color-shadow: var(--color-shadow-light);
	--color-surface-tint: var(--color-surface-tint-light);
	--color-surface-tint-color: var(--color-surface-tint-color-light);
}
