.root {
  background-color: #412D34;
  width: 100%;
}
.content {
  max-width: 1350px;
  margin: auto;
  padding: 2em;
  display: grid; 
  grid-template-columns: auto 2em 1fr; 
  grid-template-rows: auto 1em 1fr; 
  gap: 0px 0px; 
  grid-template-areas: 
    "logo . links"
    ". . links"
    "copyright . links"; 
}

.links {
  grid-area: links;
  display: flex;
  gap: 3em;

  div {
    color: rgba(255, 255, 255, 0.5);
  }
  ul {
    padding-left: 0;
    margin-top: 0.5em;
  }
  ul li {
    list-style-type: none;
    margin-bottom: 0.15em;
  }

  a {
    &:hover {
      text-decoration: underline;
    }
    &:active {
      color: #d97a88;
    }
  }
}

.copyright {
  grid-area: copyright;
  color: rgba(255, 255, 255, 0.5);

  a {
    text-decoration: underline;
    &:hover {
      color: rgba(255, 255, 255, 1);
    }
    &:active {
      color: #d97a88;
    }
  }
}

.logo {
  grid-area: logo;
}

@media (max-width: 850px) {
  .content {
    grid-template-columns: auto; 
    grid-template-rows: auto 1em auto 0.5em auto; 
    gap: 0px 0px; 
    grid-template-areas: 
      "logo"
      "."
      "links"
      "."
      "copyright"; 
  }
  .links {
    flex-direction: column;
    gap: 0em;
  }
}