.root {
  h1 {
    text-align: center;
  }
  h2 {
    max-width: calc(4 * 300px + 4em);
    padding-left: 1em;
    margin: auto;
  }
  margin-bottom: 2em;
}

.group {
  padding: 1em;
  display: flex;
  gap: 1em;
  flex-wrap: wrap;
  max-width: calc(4 * 300px + 3em + 2em);
  margin: auto;
}

.card {
  background-color: #330716;
  width: 300px;
  height: calc(50px + 2em);
  border-radius: 8px;
  display: block;
  display: flex;
  align-items: center;
  gap: 1em;
  padding: 1em;
  
  .img {
    flex: 0 0 50px;
    border-radius: 50%;
    height: 50px;
  }

  &:hover {
    background-color: #2f0714;
  }
  &:active {
    background-color: #290711;
  }
}
