@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;700&display=swap');

html,
body {
  padding: 0;
  margin: 0;
  font-size: 18px;
  font-family: "DM Sans", sans-serif;
  color: white;
  background: #4A0920;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

#__next > * {
  min-height: 100vh;
  padding-top: 0.1px;
  display: flex;
  flex-direction: column;
}

.spacer {
  flex: 1
}