.root {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
}

.root h1 {
  font-size: 2.5em;
}

// Header
.header {
  color: white;
  background: linear-gradient(180deg, #003FAC 0%, #002668 100%);
  width: 100%;
  height: 500px;
  text-align: center;

  p {
    font-size: 1.25em;
  }

  .banner {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    z-index: -10px;
    pointer-events: none;
    width: 100%;
    max-width: 1785px;
    height: 500px;
    background-image: url(/assets/home-banner-desktop.svg);
    background-size: cover;
    background-position-x: 20%;
    margin: auto;
  }

  .inviteButton {
    display: inline-block;
    margin-top: 0.25em;
    background: white;
    color: #4A0920;
    border-radius: 16px;
    font-size: 1.5em;
    padding: 0.25em 1em;
    
    transition: background-color 200ms;
  
    &:hover {
      background: #ffdfea;
    }
    &:active {
      background: #ffb9d1;
      transition: opacity 50ms;
    }
  }
}

// Section 1
.section1 {
  background: #4A0920;
  color: white;
  width: 100%;
  min-height: calc(100vh - 500px);
}



