.root {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
}

.root h1 {
  font-size: 2.5em;
}

// Header
.header {
  color: white;
  background: linear-gradient(180deg, #003FAC 0%, #002668 100%);
  width: 100%;
  flex: 0 0 500px;
  text-align: center;

  p {
    font-size: 1.25em;
  }

  .banner {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    z-index: -10px;
    pointer-events: none;
    width: 100%;
    max-width: 1785px;
    height: 500px;
    background-image: url(/assets/home-banner-desktop.svg);
    background-size: cover;
    background-position-x: 20%;
    margin: auto;
  }

  .inviteButton {
    display: inline-block;
    margin-top: 0.25em;
    background: white;
    color: #4A0920;
    border-radius: 16px;
    font-size: 1.5em;
    padding: 0.25em 1em;
    
    transition: background-color 200ms;
  
    &:hover {
      background: #ffdfea;
    }
    &:active {
      background: #ffb9d1;
      transition: opacity 50ms;
    }
  }
}

h1.why {
  font-size: 2rem;
}

// Section 1
.section1, .section2 {
  width: 100%;
  padding: 2em 2em;
  display: flex;
  justify-content: center;

  h2 {
    font-weight: normal;
  }

  .text {
    flex: 0 1 700px;
  }
  .spacer {
    width: 120px;
  }
  .img {
    flex: 0 3 450px;
    display: flex;
    justify-content: center;

    & > * {
      max-height: 250px;
      @media (max-width: 1000px) {
        max-height: 120px;
        align-self: center;
      }
    }
  }
}

.section1 {
  background: #4A0920;
}
.section2 {
  background: #F27187;
  color: #4A0920;
  flex-direction: row-reverse;
  .text {
    text-align: right;
  }
}



