.root {
  background: #4A0920;
}

.content {
  max-width: 1000px;
  padding: 2em;
  margin: auto;

  h1 {
    font-size: 3em;
    margin-bottom: 0;
  }
  h1 + * {
    margin-top: 0em;
    margin-bottom: 2em;
  }

  code {
    background-color: #2c0613;
    padding: 0.25em;
    border-radius: 8px;
    font-size: 0.8em;
  }
}